
-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

%fieldset
  %legend=t 'admin_info'
  -core_section :event_information_section, event_form do
    %span{:class => "horiz"}
      %label=t 'record_number'
      = h(@event.record_number)

    %span{:class => "horiz"}
      %label=t 'date_record_created'
      =ld(@event.created_at.try(:to_date))

    %span{:class => "horiz"}
      %label=t 'mmwr_year'
      = h(@event.MMWR_year)

    %span{:class => "horiz"}
      %label=t 'mmwr_week'
      = h(@event.MMWR_week)

    %span.vert-break
    = render(:partial => 'events/event_type_transition', :locals => { :event => @event })

  %span.vert-break

  -core_section :case_outbreak_section, event_form do
    - core_element_show :lhd_case_status_id, event_form, :horiz do
      = event_form.label :lhd_case_status_id
      = h(lookup_code(@event.lhd_case_status)) || '&nbsp;'
    = render(:partial => 'events/state_status_show.html.haml', :locals => { :f => event_form})
    - core_element_show :nbs_id, event_form, :horiz do
      = event_form.label(:nbs_id, "NBS Event ID")
      = h(@event.nbs_id) || '&nbsp;'    
    - core_element_show :outbreak_associated_id, event_form, :horiz do
      = event_form.label :outbreak_associated_id
      = h(lookup_code(@event.outbreak_associated)) || '&nbsp;'
    - core_element_show :outbreak_name, event_form, :horiz do
      = event_form.label :outbreak_name
      = h(@event.outbreak_name) || '&nbsp;'

  -core_section :event_auditing_section, event_form do
    %span{:class => "horiz"}
      %label=t 'jurisdiction_of_residence'
      - if @event.address
        - address = @event.address
        - if address && address.county && address.county.jurisdiction
          - jurisdiction_name = address.county.jurisdiction.name
      = jurisdiction_name.blank? ? 'Not Applicable' : h(jurisdiction_name)

    - event_form.fields_for(:jurisdiction, :builder => ExtendedFormBuilder) do |j|
      - core_element_show :secondary_entity_id, j, :horiz do
        = j.label :secondary_entity_id
        = h(@event.jurisdiction.secondary_entity.place.name) unless @event.jurisdiction.nil?
      - core_element_show :workflow_state, event_form, :horiz do
        = event_form.label :workflow_state
        = h(@event.state_description)
      - core_element_show :investigation_started_date, event_form, :horiz do
        = event_form.label :investigation_started_date
        = ld(@event.investigation_started_date)
      - core_element_show :investigation_completed_LHD_date, event_form, :horiz do
        = event_form.label :investigation_completed_LHD_date
        = ld(@event.investigation_completed_LHD_date)

    - core_element_show :event_name, event_form, :vert do
      = event_form.label :event_name
      = h(@event.event_name)
    - core_element_show :review_completed_by_state_date, event_form, :horiz do
      = event_form.label :review_completed_by_state_date
      = ld(@event.review_completed_by_state_date)
    - core_element_show :acuity, event_form, :horiz do
      = event_form.label :acuity
      = h(@event.acuity)
