<%#
Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation

This file is part of TriSano.

TriSano is free software: you can redistribute it and/or modify it under the
terms of the GNU Affero General Public License as published by the
Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

TriSano is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with TriSano. If not, see http://www.gnu.org/licenses/agpl-3.0.txt.
%>

<fieldset>
  <legend><%= t 'admin_info' %>
    <span id='cmr_info_hide' onClick="Element.hide('cmr_info_form'); Element.hide('cmr_info_hide'); Element.show('cmr_info_show'); return false;"><%= hide %> </span>
    <span id='cmr_info_show' onClick="Element.show('cmr_info_form'); Element.hide('cmr_info_show'); Element.show('cmr_info_hide'); return false;" style="display: none;"><%= show %></span>
  </legend>
  <div id='cmr_info_form'>
    <% core_section :event_information_section, f do -%>
      <% if not @event.record_number.blank? %>
        <span class="label"><%= ct "record_number" %></span> <%= h(@event.record_number) %>
      <% end %>

      <% if not @event.MMWR_year.blank? %>
        <span class="label"><%= ct 'mmwr_year' %></span> <%= h(@event.MMWR_year) %>
        <span class="label"><%= ct 'mmwr_week' %></span><%= h(@event.MMWR_week) %>
      <% end %>
      <br />
      <span class="label"><%= ct 'date_record_created' %></span>
      <%= ld(@event.created_at.try(:to_date)) %>
      <span class="vert-break"></span>
      <%= render(:partial => 'events/event_type_transition.html.haml', :locals => { :event => @event }) %>
    <% end -%>
    <% core_section :case_outbreak_section, f do -%>
      <% core_element :lhd_case_status_id, f, :horiz do -%>
        <%= f.label :lhd_case_status_id %>
        <%= f.dropdown_code_field(:lhd_case_status_id, 'case', {}) %>
      <% end -%>
      <% if User.current_user.state_manager? %>
        <%= render(:partial => 'events/state_status_edit.html.haml', :locals => { :f => f}) %>
      <% else -%>
        <%= render(:partial => 'events/state_status_show.html.haml', :locals => { :f => f}) %>
      <% end -%>
      <% core_element :nbs_id, f, :horiz do -%>
        <%= f.label(:nbs_id, "NBS Event ID") %>
        <%= f.core_text_field(:nbs_id, {:size => 25, :maxlength => 50}, @event) %>
      <% end %>      
      <% core_element :outbreak_associated_id, f, :horiz do -%>
        <%= f.label(:outbreak_associated_id) %>
        <%= f.dropdown_code_field(:outbreak_associated_id, 'yesno', {}, {}, @event) %>
      <% end -%>
      <% core_element :outbreak_name, f, :horiz do -%>
        <%= f.label(:outbreak_name) %>
        <%= f.core_text_field(:outbreak_name, {:size => 25, :maxlength => 255}, @event) %>
      <% end -%>
    <% end -%>
    <% core_section :event_auditing_section, f do -%>
      <span class="horiz">
        <label><%= t 'jurisdiction_of_residence' %></label>
        <%  if @event.address %>
          <%  address = @event.address %>
          <%  if address && address.county && address.county.jurisdiction %>
            <%  jurisdiction_name = address.county.jurisdiction.name %>
          <% end %>
          <%= jurisdiction_name.blank? ? 'Not Applicable' : h(jurisdiction_name) %>
        <% end %>
      </span>
      <% core_element :event_name, f, :vert do -%>
        <%= f.label(:event_name) %>
        <%= f.core_text_field(:event_name, {:size => 25, :maxlength => 100}, @event) %>
      <% end -%>
      <%= yield :jurisdiction_selection %>
      <% core_element :acuity, f, :horiz do -%>
        <%= f.label(:acuity) %>
        <%= f.core_text_field(:acuity, {:size => 2, :maxlength => 2}, @event) %>
      <% end -%>

      <% core_element :workflow_state, f, :vert do -%>
        <%= f.label(:workflow_state) %>
        <%= h(f.object.state_description) %>
      <% end -%>
      <% core_element :investigation_started_date, f, :horiz do -%>
        <%= f.label(:investigation_started_date) %>
        <%= ld(f.object.investigation_started_date) %>
      <% end -%>
      <% core_element :investigation_completed_LHD_date, f, :horiz do -%>
        <%= f.label(:investigation_completed_LHD_date) %>
        <%= ld(f.object.investigation_completed_LHD_date) %>
      <% end -%>
      <% core_element :review_completed_by_state_date, f, :horiz do -%>
        <%= f.label(:review_completed_by_state_date) %>
        <%= ld(f.object.review_completed_by_state_date) %>
      <% end -%>
    <% end -%>
  </div>
</fieldset>
