-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, eitherq
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-core_section :name_section, f do
  -f.fields_for(:person, :builder => ExtendedFormBuilder) do |person_form|
    %div.data_name
      -core_element_show :last_name, person_form, :horiz do
        =person_form.label(:last_name)
        %span.data_last_name=h(person_form.object.last_name)
      -core_element_show :first_name, person_form, :horiz do
        =person_form.label(:first_name)
        %span.data_first_name=h(person_form.object.first_name)
      -core_element_show :middle_name, person_form, :horiz do
        =person_form.label(:middle_name)
        %span.data_middle_name=h(person_form.object.middle_name)
      -core_element_show :nbs_id, person_form, :horiz do
        =person_form.label(:nbs_id, "NBS Patient ID")
        %span.data_nbs_id=h(person_form.object.nbs_id)

      -if !event_form.nil?
        -core_element_show :parent_guardian, event_form, :horiz do
          =event_form.label :parent_guardian
          %span.data_parent_guardian=h(event.parent_guardian)
