-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

-core_section :name_section, f do

  -f.fields_for(:person, :builder => ExtendedFormBuilder) do |p|
    %div.data_name
      = error_messages_for :object => p.object
      -core_element :last_name, p, :horiz do
        =p.label(:last_name)
        %span.data_last_name=p.core_text_field(:last_name, {:size => 25, :class => "required", :maxlength => 25}, event)
      -core_element :first_name, p, :horiz do
        =p.label(:first_name)
        %span.data_first_name=p.core_text_field(:first_name, {:size => 25, :maxlength => 25}, event)
      -core_element :middle_name, p, :horiz do
        =p.label(:middle_name)
        %span.data_middle_name=p.core_text_field(:middle_name, {:size => 25, :maxlength => 25}, event)
      -core_element :nbs_id, p, :horiz do
        =p.label(:nbs_id, "NBS Patient ID")
        %span.data_nbs_id=p.core_text_field(:nbs_id, {:size => 25, :maxlength => 50}, event)

      - if !event_form.nil?
        -core_element :parent_guardian, event_form, :horiz do
          =event_form.label :parent_guardian
          %span.data_parent_guardian=event_form.core_text_field(:parent_guardian, {:size => 35, :maxlength => 255}, event)
