-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

#entity_search_results
  %table.list
    %tr
      %th= sortable_column_header :person_name
      %th= sortable_column_header :address
      %th= "NBS Patient ID"
      %th= sortable_column_header :birth_date
      %th=t "actions"
    - @people.each do |person|
      - fields_for(person, :builder => ExtendedFormBuilder) do |f|
        - f.fields_for(:person, :builder => ExtendedFormBuilder) do |name_form|
          -# tr must start with data_person for web api
          %tr.data_person.search-active.tabular
            %td
              %span.data_person_id{:style => 'display: none'}=h(person.entity_id)
              %span.data_name=render_person_name(person)
            %td
              - if search_result_has_address?(person)
                %span.data_address
                  %span.data_street_number=h(person.street_number)
                  %span.data_street_name=h(person.street_name)
                  %span.data_unit_number=h(person.unit_number)
                  - if search_result_has_second_address_block?(person)
                    %br
                    %span.data_city=h(person.city)
                    %span.data_state=h(person.state_name)
                    %span.data_postal_code=h(person.postal_code)
            %td
              %span.data_nbs_id=h(person.nbs_id)
            %td
              %span.data_birth_date=ld(person.birth_date)
            %td= render_person_actions(person)
  %br
  = will_paginate(@people, :previous_label => "« #{t('previous')}", :next_label => "#{t('next')} »")


