-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- form_tag search_people_path, :method => :post do
  %span.horiz
    = label_tag :last_name, t("last_name")
    = text_field_tag :last_name, params[:last_name]

  %span.horiz
    = label_tag :first_name, t("first_name")
    = text_field_tag :first_name, params[:first_name]

  %span.horiz
    = label_tag :birth_date, t("birth_date")
    = text_field_tag :birth_date, params[:birth_date]

  %span.horiz
    = label_tag :nbs_id, "NBS Patient ID"
    = text_field_tag :nbs_id, params[:nbs_id]

  %span.horiz
    = label_tag :person_type, t(:person_type)
    = select_tag(:person_type, options_for_select(Person.search_type_options, :selected => params[:person_type]))

  %span.horiz
    %label=t "items_per_page"
    - page_options = %w(25 50 75 100).collect {|c| "<option#{c == params[:per_page] ? ' selected="selected" ' : ''}>#{c}</option>"}.join
    =select_tag('per_page', page_options)

  %span.horiz
    = label_tag "&nbsp;"
    = submit_tag t("search")

  %span.vert
    = label_tag "&nbsp;"
    = labeled_check_box_tag :use_starts_with_search, t("use_starts_with")

  %span.vert-break
