body {
  background-color: #f9f8f5;
  margin: 0px; }

#head {
  position: fixed;
  width: 100%;
  background-color: #090;
  z-index: 800; }

  #head div#logo-container {
      /* Keeps logo in position when header menu is not displayed  */
      height: 58px;

      /* Prevents overly large custom logos from disrupting layout */
      overflow: hidden;
    }

  #head .right {
    text-align: right;
    position: static;
  }

#bar {
  position: relative;
  width: 100%;
  height: 36px;
  background: url(../images/repeat.gif);
  background-repeat: repeat-x;
  z-index: 800; }

#title_area {
  position: relative;
  width: 100%;
  padding-top: 1em;
  background-color: #f9f8f5;
  z-index: 800; }

#main-content {
  position: absolute;
  width: 100%;
  top: 143px;
}

#form-content {
  position: absolute;
  top: 120px;
  width: 100%; }

.left {
  position: absolute;
  align: left;
  text-align: left;
  z-index: 700; }

.right {
  position: relative;
  align: right;
  text-align: right; }

#rot {
  width: 100%;
  table float: left;
  margin-right: -220px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }


form {
  margin: 0px; }

.list {
  font-family: Verdana, Arial, Helvetica, sans-serif; }
  .list th {
    font-size: 10px;
    weight: bold;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    padding: 3px 3px 3px 9px;
    background-color: #d4cbb4; }
    .list th a {
      color: #333;
      text-decoration: underline; }
      .list th a:hover {
        color: #c00; }
  .list tr {
    background-color: #fff; }
  .list .roll:hover {
    background-color: #f3eee4; }
  .list td {
    font-size: 12px;
    weight: light;
    color: #666;
    padding: 3px 3px 3px 9px;
    border: dotted;
    border-color: #ccc;
    border-width: 1px 0px 1px 0px;
    vertical-align: top;
    width: auto; }

.scroll th, .scroll td {
  white-space: nowrap; }

.sortable td.nodata {
  max-width: 1px;
  width: 1px;
  overflow: visible; }

.sortable td.emphatic {
  font-style: italic;
  font-weight: bold; }

.sortable th {
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap; }

.sortable th.nosort {
  text-decoration: none;
  cursor: auto; }

.horiz-scroll {
  width: 100%;
  overflow: auto; }

fieldset {
  border: 0px;
  margin: 0px;
  background: #fff; }

.form {
  border: 1px dashed #ccc;
  margin: 0 0 0 0;
  padding: 0 1em 1em 1em; }

.vert {
  border: 0;
  margin: 0 1em 0em 0;
  padding: 0 0em 0em 0em; }

.radio {
  margin: 1em 0 2em 0; }

.radio input {
  clear: both;
  float: left;
  width: auto; }

.radio label {
  font-weight: normal; }

legend {
  font-weight: bold;
  padding: 5px;
  font-size: 12px;
  background-color: #fff;
  color: #900; }

.nobg {
  background-color: transparent; }

.horiz {
  display: block;
  float: left;
  margin: 0em 1em 0 0; }

.vert {
  clear: left;
  display: block;
  float: left; }

.vert-break {
  clear: both;
  display: block; }

.green-rule {
  color: #090;
  background-color: #090;
  height: 2px; }

#foot {
  width: 500px;
  padding: 150px 0px 100px 0px; }

.footlogo {
  width: 40px;
  float: left; }

.foottext {
  width: 460px;
  float: left; }

.inline-form {
  background-color: #fff;
  border: solid 2px;
  padding: 15px;
  margin: 3px;
  border-color: #000; }

.core_fields li.not-rendered {
  background-color: #D4CBB4;
  color: #333; }
.core_fields li.cf-tab {
  border-color: #063;
  background-color: #063; }
  .core_fields li.cf-tab > .formname a {
    color: #fff; }
  .core_fields li.cf-tab > .tools a {
    color: #9c3; }
  .core_fields li.cf-tab > .formnamesubtext {
    color: #fff; }
.core_fields li.cf-section {
  border-color: #9c3; }
.core_fields li {
  border: solid;
  border-color: #090;
  border-width: 1px 0px 0px 4px;
  padding-left: 4px;
  background-color: #fff; }

.ui-icon {
  display: inline-block !important; }

.password-expired-popup {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 3px #CCCCCC;
    height: 25px;
    left: 40%;
    padding: 7px 0 0 15px;
    position: absolute;
    top: 100px;
    white-space: nowrap;
    width: 350px;
    font-weight: bold;
    z-index: 1000;
}

.ajax-actions {
  display: none;
}
