.container {
  position: relative;
  width: 90%;
  margin: 0 auto; }

.showgrid {
  background: url(../../images/grid.png); }

div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {
  float: left;
  margin-right: 10px; }

div.last {
  margin-right: 0; }

.span-1 {
  width: 30px; }

.span-2 {
  width: 70px; }

.span-3 {
  width: 110px; }

.span-4 {
  width: 150px; }

.span-5 {
  width: 190px; }

.span-6 {
  width: 230px; }

.span-7 {
  width: 270px; }

.span-8 {
  width: 310px; }

.span-9 {
  width: 350px; }

.span-10 {
  width: 390px; }

.span-11 {
  width: 430px; }

.span-12 {
  width: 470px; }

.span-13 {
  width: 510px; }

.span-14 {
  width: 550px; }

.span-15 {
  width: 590px; }

.span-16 {
  width: 630px; }

.span-17 {
  width: 670px; }

.span-18 {
  width: 710px; }

.span-19 {
  width: 750px; }

.span-20 {
  width: 790px; }

.span-21 {
  width: 830px; }

.span-22 {
  width: 870px; }

.span-23 {
  width: 910px; }

.span-24, div.span-24 {
  width: 950px;
  margin: 0; }

.append-1 {
  padding-right: 40px; }

.append-2 {
  padding-right: 80px; }

.append-3 {
  padding-right: 120px; }

.append-4 {
  padding-right: 160px; }

.append-5 {
  padding-right: 200px; }

.append-6 {
  padding-right: 240px; }

.append-7 {
  padding-right: 280px; }

.append-8 {
  padding-right: 320px; }

.append-9 {
  padding-right: 360px; }

.append-10 {
  padding-right: 400px; }

.append-11 {
  padding-right: 440px; }

.append-12 {
  padding-right: 480px; }

.append-13 {
  padding-right: 520px; }

.append-14 {
  padding-right: 560px; }

.append-15 {
  padding-right: 600px; }

.append-16 {
  padding-right: 640px; }

.append-17 {
  padding-right: 680px; }

.append-18 {
  padding-right: 720px; }

.append-19 {
  padding-right: 760px; }

.append-20 {
  padding-right: 800px; }

.append-21 {
  padding-right: 840px; }

.append-22 {
  padding-right: 880px; }

.append-23 {
  padding-right: 920px; }

.prepend-1 {
  padding-left: 40px; }

.prepend-2 {
  padding-left: 80px; }

.prepend-3 {
  padding-left: 120px; }

.prepend-4 {
  padding-left: 160px; }

.prepend-5 {
  padding-left: 200px; }

.prepend-6 {
  padding-left: 240px; }

.prepend-7 {
  padding-left: 280px; }

.prepend-8 {
  padding-left: 320px; }

.prepend-9 {
  padding-left: 360px; }

.prepend-10 {
  padding-left: 400px; }

.prepend-11 {
  padding-left: 440px; }

.prepend-12 {
  padding-left: 480px; }

.prepend-13 {
  padding-left: 520px; }

.prepend-14 {
  padding-left: 560px; }

.prepend-15 {
  padding-left: 600px; }

.prepend-16 {
  padding-left: 640px; }

.prepend-17 {
  padding-left: 680px; }

.prepend-18 {
  padding-left: 720px; }

.prepend-19 {
  padding-left: 760px; }

.prepend-20 {
  padding-left: 800px; }

.prepend-21 {
  padding-left: 840px; }

.prepend-22 {
  padding-left: 880px; }

.prepend-23 {
  padding-left: 920px; }

div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eee; }

div.colborder {
  padding-right: 38px;
  margin-right: 35px;
  border-right: 1px solid #eee; }

.pull-1 {
  margin-left: -40px; }

.pull-2 {
  margin-left: -80px; }

.pull-3 {
  margin-left: -120px; }

.pull-4 {
  margin-left: -160px; }

.pull-5 {
  margin-left: -200px; }

.pull-6 {
  margin-left: -240px; }

.pull-7 {
  margin-left: -280px; }

.pull-8 {
  margin-left: -320px; }

.pull-9 {
  margin-left: -360px; }

.pull-10 {
  margin-left: -400px; }

.pull-11 {
  margin-left: -440px; }

.pull-12 {
  margin-left: -480px; }

.pull-13 {
  margin-left: -520px; }

.pull-14 {
  margin-left: -560px; }

.pull-15 {
  margin-left: -600px; }

.pull-16 {
  margin-left: -640px; }

.pull-17 {
  margin-left: -680px; }

.pull-18 {
  margin-left: -720px; }

.pull-19 {
  margin-left: -760px; }

.pull-20 {
  margin-left: -800px; }

.pull-21 {
  margin-left: -840px; }

.pull-22 {
  margin-left: -880px; }

.pull-23 {
  margin-left: -920px; }

.pull-24 {
  margin-left: -960px; }

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {
  float: left;
  position: relative; }

.push-1 {
  margin-top: 0;
  margin-right: -40px;
  margin-bottom: 1.5em;
  margin-left: 40px; }

.push-2 {
  margin-top: 0;
  margin-right: -80px;
  margin-bottom: 1.5em;
  margin-right: 80px; }

.push-3 {
  margin-top: 0;
  margin-right: -120px;
  margin-bottom: 1.5em;
  margin-left: 120px; }

.push-4 {
  margin-top: 0;
  margin-right: -160px;
  margin-bottom: 1.5em;
  margin-left: 160px; }

.push-5 {
  margin-top: 0;
  margin-right: -200px;
  margin-bottom: 1.5em;
  margin-left: 200px; }

.push-6 {
  margin-top: 0;
  margin-right: -240px;
  margin-bottom: 1.5em;
  margin-left: 240px; }

.push-7 {
  margin-top: 0;
  margin-right: -280px;
  margin-bottom: 1.5em;
  margin-left: 280px; }

.push-8 {
  margin-top: 0;
  margin-right: -320px;
  margin-bottom: 1.5em;
  margin-left: 320px; }

.push-9 {
  margin-top: 0;
  margin-right: -360px;
  margin-bottom: 1.5em;
  margin-left: 360px; }

.push-10 {
  margin-top: 0;
  margin-right: -400px;
  margin-bottom: 1.5em;
  margin-left: 400px; }

.push-11 {
  margin-top: 0;
  margin-right: -440px;
  margin-bottom: 1.5em;
  margin-left: 440px; }

.push-12 {
  margin-top: 0;
  margin-right: -480px;
  margin-bottom: 1.5em;
  margin-left: 480px; }

.push-13 {
  margin-top: 0;
  margin-right: -520px;
  margin-bottom: 1.5em;
  margin-left: 520px; }

.push-14 {
  margin-top: 0;
  margin-right: -560px;
  margin-bottom: 1.5em;
  margin-left: 560px; }

.push-15 {
  margin-top: 0;
  margin-right: -600px;
  margin-bottom: 1.5em;
  margin-left: 600px; }

.push-16 {
  margin-top: 0;
  margin-right: -640px;
  margin-bottom: 1.5em;
  margin-left: 640px; }

.push-17 {
  margin-top: 0;
  margin-right: -680px;
  margin-bottom: 1.5em;
  margin-left: 680px; }

.push-18 {
  margin-top: 0;
  margin-right: -720px;
  margin-bottom: 1.5em;
  margin-left: 720px; }

.push-19 {
  margin-top: 0;
  margin-right: -760px;
  margin-bottom: 1.5em;
  margin-left: 760px; }

.push-20 {
  margin-top: 0;
  margin-right: -800px;
  margin-bottom: 1.5em;
  margin-left: 800px; }

.push-21 {
  margin-top: 0;
  margin-right: -840px;
  margin-bottom: 1.5em;
  margin-left: 840px; }

.push-22 {
  margin-top: 0;
  margin-right: -880px;
  margin-bottom: 1.5em;
  margin-left: 880px; }

.push-23 {
  margin-top: 0;
  margin-right: -920px;
  margin-bottom: 1.5em;
  margin-left: 920px; }

.push-24 {
  margin-top: 0;
  margin-right: -960px;
  margin-bottom: 1.5em;
  margin-left: 960px; }

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {
  float: right;
  position: relative; }

.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9; }

hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }

hr.space {
  background: #fff;
  color: #fff; }

.clearfix:after, .container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, .container {
  display: inline-block; }

* html .clearfix,
* html .container {
  height: 1%; }

.clearfix, .container {
  display: block; }

.clear {
  clear: both; }


body {
  background-color: #f9f8f5;
  margin: 0px; }

#head {
  position: fixed;
  width: 100%;
  height: 68px;
  background-color: #090;
  z-index: 800; }

#bar {
  position: fixed;
  top: 68px;
  width: 100%;
  height: 36px;
  background: url(../images/repeat.gif);
  background-repeat: repeat-x;
  z-index: 800; }

#title_area {
  position: fixed;
  top: 104px;
  width: 100%;
  padding-top: 1em;
  background-color: #f9f8f5;
  z-index: 800; }

#main-content {
  position: absolute;
  width: 100%; }

#form-content {
  position: absolute;
  top: 120px;
  width: 100%; }

.left {
  position: absolute;
  align: left;
  text-align: left;
  z-index: 700; }

.right {
  position: relative;
  align: right;
  text-align: right; }

#rot {
  width: 100%;
  float: left;
  margin-right: -220px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }


form {
  margin: 0px; }

.list {
  font-family: Verdana, Arial, Helvetica, sans-serif; }
  .list th {
    font-size: 10px;
    weight: bold;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    padding: 3px 3px 3px 9px;
    background-color: #d4cbb4; }
    .list th a {
      color: #333;
      text-decoration: underline; }
      .list th a:hover {
        color: #c00; }
  .list tr {
    background-color: #fff; }
  .list .roll:hover {
    background-color: #f3eee4; }
  .list td {
    font-size: 12px;
    weight: light;
    color: #666;
    padding: 3px 3px 3px 9px;
    border: dotted;
    border-color: #ccc;
    border-width: 1px 0px 1px 0px;
    vertical-align: top;
    width: auto; }

fieldset {
  border: 0px;
  margin: 0px;
  background: #fff; }

.form {
  border: 1px dashed #ccc;
  margin: 0 0 0 0;
  padding: 0 1em 1em 1em; }

.vert {
  border: 0;
  margin: 0 0 0em 0;
  padding: 0 0em 0em 0em; }

.radio {
  margin: 1em 0 2em 0; }

.radio input {
  clear: both;
  float: left;
  width: auto; }

.radio label {
  font-weight: normal; }

legend {
  font-weight: bold;
  padding: 5px;
  font-size: 12px;
  background-color: #fff;
  color: #900; }

.horiz {
  display: block;
  float: left;
  margin: 0em 1em 0 0; }

.vert {
  clear: both;
  display: block; }

#foot {
  width: 500px;
  padding: 150px 0px 100px 0px; }

.footlogo {
  width: 40px;
  float: left; }

.foottext {
  width: 460px;
  float: left; }


body {
  font-family: helvetica, arial, sans-serif; }
  body a {
    color: #c00;
    text-decoration: none; }
    body a:hover {
      color: #c00;
      text-decoration: underline; }

body, p, ol, ul {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none; }

.areas {
  font-size: 11px;
  font-weight: normal;
  color: #9c9;
  padding: 10px 0px 5px 0px;
  letter-spacing: 1px; }
  .areas a {
    color: #fff;
    text-decoration: none; }
    .areas a:hover {
      color: #fff;
      text-decoration: underline; }

.user {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase; }

.areas_title {
  font-size: 12px;
  font-weight: light;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 0px 0px 5px; }

.action1 {
  padding: 7px 0px 0px 0px; }

.action2 {
  padding: 5px 10px 0px 0px; }

.name {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  color: #333;
  letter-spacing: 0px;
  padding: 0px 0px 3px 0px; }

.formname {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  font-weight: light;
  color: #333;
  letter-spacing: 0px;
  padding: 3px 0px 3px 0px; }
  .formname a {
    color: #333;
    text-decoration: none; }
    .formname a:hover {
      color: #000;
      text-decoration: underline; }

.description {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: light;
  color: #666;
  letter-spacing: 0px;
  padding: 0px 0px 4px 0px; }

.tools {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: light;
  color: #999;
  padding: 2px 0px 0px 0px; }
  .tools a {
    color: #c00;
    text-decoration: none;
    font-weight: bold; }
    .tools a:hover {
      color: #000;
      font-weight: bold;
      text-decoration: underline; }

h3 {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: block;
  padding: 0px 0px 0px 0px;
  color: #333; }

h4 {
  font-family: helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  display: block;
  padding: 0px 0px 0px 0px;
  color: #333; }

label {
  font-family: helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  display: block;
  padding: 0px 0px 0px 0px;
  white-space: nowrap;
  color: #333; }

.required {
  background: #FFE0C6; }

.required_if_others {
  background: #FFFFCC; }

.struck-through {
  text-decoration: line-through; }

.patientname {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  color: #333;
  letter-spacing: 0px;
  padding: 6px 0px 3px 0px; }

.patientname-inactive {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  font-style: italic;
  color: #ccc;
  letter-spacing: 0px;
  padding: 6px 0px 3px 0px; }

.contactname-inactive {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  font-style: italic;
  color: #ccc;
  letter-spacing: 0px;
  padding: 6px 0px 3px 0px; }

.placename-inactive {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  font-style: italic;
  color: #ccc;
  letter-spacing: 0px;
  padding: 6px 0px 3px 0px; }

.foottext {
  font-family: helvetica, sans-serif;
  padding: 0px 0px 0px 0px;
  color: #999;
  font-weight: light; }
  .foottext .top {
    font-size: 13px; }
  .foottext .bottom {
    font-size: 10px;
    color: #999; }
    .foottext .bottom a {
      color: #999;
      font-weight: bold;
      text-decoration: none; }
      .foottext .bottom a:hover {
        color: #333;
        text-decoration: none; }
      .foottext .bottom a:visited {
        color: #999;
        text-decoration: none; }


.search-active td {
  border: 1px solid #C1DAD7;
  background: #fff;
  padding: 3px 3px 3px 9px;
  color: #191970; }

.search-inactive td {
  border: 1px solid #C1DAD7;
  background: #e8e8e8;
  padding: 3px 3px 3px 9px;
  color: #191970;
  text-decoration: line-through; }

.task-pending td {
  border: 1px solid #C1DAD7;
  padding: 3px 3px 3px 9px; }

.task-complete td {
  border: 1px solid #C1DAD7;
  background: #e8e8e8;
  padding: 3px 3px 3px 9px; }

.task-not-applicable td {
  border: 1px solid #C1DAD7;
  background: #e8e8e8;
  padding: 3px 3px 3px 9px; }

.list-of-forms {
  float: left;
  width: 15%;
  text-align: left; }
  .list-of-forms > *:first-child {
    font-weight: bold;
    text-align: center; }

.diseaselist {
  border: none;
  border-width: 0px 0px 0px 0px; }

#formbuilder-body {
  padding: 0px 20px 0px 0px;
  margin-right: 220px; }

#sidebar {
  width: 215px;
  float: right;
  padding: 0px 5px 0px 0px; }

.tab {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #666;
  letter-spacing: 0px;
  color: #000; }

.actions {
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  color: #666; }
  .actions a {
    color: #666; }
    .actions a:hover {
      color: #c00; }

.section {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  padding: 4px 0px 0px 8px; }

.instructions {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666;
  padding: 4px 0px 0px 8px; }

.field {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #36c; }

.followup {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;
  padding: 2px 0px 0px 8px; }

.valueset {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c00; }

.group {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  padding: 4px 0px 0px 8px; }

.question {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666; }
  .question li {
    margin: 0px 0px 8px 0px;
    padding: 4px 8px 4px 8px; }
  .question .label {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #36c; }
  .question .actions {
    font-size: 12px;
    font-weight: 900;
    text-align: right;
    color: #69c; }
    .question .actions a {
      color: #69c; }
      .question .actions a:hover {
        color: #036; }

#button {
  border: 0;
  cursor: pointer;
  text-align: center;
  padding: 7px 7px 7px 3px; }
  #button span {
    position: relative;
    display: block;
    white-space: nowrap;
    padding: 0 0 0 10px;
    font-family: helvetica, sans-serif;
    font-size: 11px;
    font-weight: 100;
    color: #ccc; }
    #button span a {
      font-size: 10px;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: left;
      text-transform: uppercase;
      text-decoration: none; }
      #button span a:hover {
        color: #c00; }

.press {
  display: inline-block;
  background: url('../images/btn_right.png') right no-repeat; }
  .press span {
    height: 20px;
    line-height: 20px;
    background: url('../images/btn_left.png') left no-repeat; }
  .press:hover {
    background: url('../images/btn_right_hover.png') right no-repeat; }
    .press:hover span {
      background: url('../images/btn_left_hover.png') left no-repeat; }

.form_button {
  font-size: 12px;
  background: #D4CBB4; }

.horizontal {
  overflow: auto; }
  .horizontal li {
    float: left; }


.vertical {
  background: #EFEFEF;
  padding: 8px 8px 5px 7px;
  overflow: auto; }
  .vertical li {
    float: left;
    width: 206px; }
    .vertical li a {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 10px;
      color: #666;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: left;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0px 0px 6px 10px;
      display: block;
      width: 190px;
      height: 18px;
      background: transparent url('../images/button.png') no-repeat scroll 0 0; }
      .vertical li a:hover {
        background-position: -200px 0;
        color: #fff; }
  .vertical .verticalinfo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    letter-spacing: 0px;
    text-align: right; }
    .vertical .verticalinfo a {
      color: #999;
      display: inline;
      width: 0px;
      height: 0px; }
      .vertical .verticalinfo a:hover {
        color: #c00; }

.clearfix {
  *display: inline-block; }
  .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }





#root-element-list {
  margin: 8px 0px; }
  #root-element-list ul {
    margin: 0px 0px 8px 0px; }
  #root-element-list li {
    padding: 0px 5px; }

#core-element-list {
  margin: 8px 0px; }
  #core-element-list ul {
    margin: 0px 0px 8px 0px; }
  #core-element-list li {
    padding: 0px 8px; }

#core-field-element-list {
  margin: 8px 0px; }
  #core-field-element-list ul {
    margin: 0px 0px 8px 0px; }
  #core-field-element-list li {
    padding: 0px 8px; }

#library-admin {
  padding: 0px 0px 0px 0px;
  line-height: 10px; }
  #library-admin ul {
    padding: 0px 0px 0px 0px; }
  #library-admin li {
    padding: 0px 0px 0px 0px; }

#detail-container {
  line-height: 15px; }
  #detail-container a {
    color: #999;
    display: inline;
    width: 0px;
    height: 0px; }
    #detail-container a:hover {
      color: #c00; }

#library-admin-container {
  line-height: 15px; }
  #library-admin-container a {
    color: #999;
    display: inline;
    width: 0px;
    height: 0px; }
    #library-admin-container a:hover {
      color: #c00; }

.library-admin-item {
  padding: 0px 0px 0px 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  weight: 100;
  letter-spacing: 0px;
  text-align: left;
  color: #666; }



.add-section {
  color: #333; }

.add-question {
  color: #333; }

.add-follow-up {
  color: #333; }

.delete-view {
  color: #333; }

.edit-question {
  color: #333; }

.edit-follow-up {
  color: #333; }

.add-value-set {
  color: #333; }

#fb-inplace-container {
  width: 90%;
  padding: 0px 0px 0px 10px; }

.fb-container {
  padding: 0px 0px 0px 0px;
  overflow: hidden; }

#lib-inplace-container {
  width: 70%; }

.fb-inplace-form {
  width: 200px;
  float: left;
  clear: both; }

#new-section-form {
  padding: 0px 0px 5px 10px; }

#new-group-form {
  padding: 0px 0px 0px 0px;
  width: 200px; }

#new-question-form {
  padding: 0px 0px 0px 0px; }

#new-question-element {
  padding: 0px 20px 0px 0px;
  display: inline;
  list-style-type: none; }

.new-question-element {
  padding: 0px 20px 0px 0px;
  display: inline;
  list-style-type: none; }

#new-follow-up-form {
  padding: 0px 0px 5px 10px; }

.new-follow-up-element {
  padding: 0px 20px 0px 0px;
  display: inline;
  list-style-type: none;
  border: solid; }

#new-value-set-form {
  padding: 0px 0px 5px 18px; }

#library-container {
  float: right;
  padding: 2px 2px 2px 2px; }

#library-header {
  padding: 0px 0px 6px 0px; }

#library-body {
  height: 175px;
  overflow: auto;
  padding: 0px 0px 0px 0px;
  border: 1px solid;
  background: white; }


.scrollable {
  overflow: auto;
  overflow-x: hidden; }

.fb-tab {
  background-color: #d3d3d3; }
  .fb-tab ul {
    margin: 0px 0px 8px 0px;
    padding: 0px 0px 0px 0px; }

.fb-tab-children {
  background-color: #fff; }
  .fb-tab-children ul {
    margin: 0px 0px 8px 0px; }
  .fb-tab-children li {
    border: dotted;
    border-width: 0px 0px 1px 0px;
    border-color: #ccc; }

.fb-section {
  color: #333;
  background: #c0c0c0; }

.fb-section-children li {
  border-width: 0px 0px 0px 0px; }

.fb-question-children li {
  border-width: 0px 0px 0px 0px; }

.fb-value-set {
  color: #666;
  background: #fff; }
  .fb-value-set ul {
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #c00; }
  .fb-value-set li {
    border-width: 0px 0px 0px 0px; }

.fb-cdc-value-set {
  color: #666;
  background: #fff; }
  .fb-cdc-value-set ul {
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #E7E01E; }
  .fb-cdc-value-set li {
    border-width: 0px 0px 0px 0px; }

.fb-value-set-children li {
  border-width: 0px 0px 0px 0px; }

.follow-up-item {
  color: #666;
  background: #EFEFEF; }

.fb-follow-up-children li {
  border-width: 0px 0px 0px 0px; }

.fb-core-form {
  color: #333; }

.fb-core-form-children {
  background-color: #fff; }
  .fb-core-form-children li {
    border-color: #ccc;
    border: dotted;
    border-width: 0px 0px 1px 0px; }

.fb-core-field {
  background-color: #d3d3d3; }

.fb-core-field-children {
  background-color: #fff; }
  .fb-core-field-children li {
    border: dotted;
    border-width: 0px 0px 1px 0px;
    border-color: #ccc; }

.fb-before-core-field {
  background-color: #fff; }
  .fb-before-core-field li {
    border-width: 0px 0px 0px 0px; }

.fb-after-core-field {
  background-color: #fff; }
  .fb-after-core-field li {
    border-width: 0px 0px 0px 0px; }

/.fb-group {
  color: #093; }

.fb-core-code-item {
  background-color: #87b8d9; }

#edit-question-form {
  padding: 0px 0px 5px 18px; }







ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

li {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

ul.with_bullets li {
  padding-left: 20px;
  margin: 8px;
  background: url(../images/bullet.gif) no-repeat; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff; }

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px; }

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  margin-left: 20px; }

input.submit {
  clear: both; }



div.uploadStatus {
  margin: 5px; }

div.progressBar {
  margin: 5px; }

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%; }

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%; }

.inactive-value {
  color: #999; }

.inactive-question {
  color: #999; }

#flash-message {
  text-align: center; }

.notice-message {
  color: green; }

.error-message {
  color: red; }

.banner-warning {
  text-align: center;
  background: #FF4500;
  font-size: 15px;
  font-weight: medium;
  color: white;
  margin: 3px 0px 3px 0px;
  padding: 3px 0px 3px 0px; }

.investigator-form-title {
  font-size: 15px;
  font-weight: medium;
  display: block;
  text-align: left; }

.modal-dialog {
  width: 65%;
  height: 225px;
  position: absolute;
  top: 75px;
  left: 15%;
  background: #edf5ff;
  border: solid 3px;
  padding: 10px;
  text-align: left; }

.large-modal-dialog {
  width: 65%;
  height: 300px;
  position: absolute;
  top: 25px;
  left: 15%;
  background: #edf5ff;
  border: solid 3px;
  padding: 10px;
  text-align: left; }

form.inplaceeditor-form input[type="submit"] {
  margin-left: 1em; }

form.inplaceeditor-form a {
  margin-left: 1em; }


/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li
	{margin:0 0.5em 0 0;}
.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li
	{margin:0 0 0.5em;}
.yui-navset .yui-content .yui-hidden
	{display:none;}
.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav
	{width:6em;}
.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav
	{width:auto;}
.yui-navset .yui-navset-left,.yui-navset-left
	{padding:0 0 0 6em;}
.yui-navset-right
	{padding:0 6em 0 0;}
.yui-navset-top,.yui-navset-bottom
	{padding:auto;}
.yui-nav,.yui-nav li
	{margin:0;
	padding:0;
	list-style:none;}
.yui-navset li em
	{font-style:normal;}
.yui-navset
	{position:relative;
	zoom:1;}
.yui-navset .yui-content
	{zoom:1;}
.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li
	{
	display:inline-block;
	display:-moz-inline-stack;
	*display:inline;
	vertical-align:bottom;
	cursor:pointer;zoom:1;
	}
.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li
	{display:block;}
.yui-navset .yui-nav a
	{position:relative;}
.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,.yui-navset-bottom .yui-nav li a
	{
	display:block;
	display:inline-block;
	vertical-align:bottom;
	zoom:1;
	}
.yui-navset-left .yui-nav li a,.yui-navset-right .yui-nav li a
	{display:block;}
.yui-navset-bottom .yui-nav li a
	{vertical-align:text-top;}
.yui-navset .yui-nav li a em,.yui-navset-top .yui-nav li a em,.yui-navset-bottom .yui-nav li a em
	{display:block;}
.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav
	{
	position:absolute;
	z-index:1;
	}
.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav
	{position:static;}
.yui-navset .yui-navset-left .yui-nav,.yui-navset-left .yui-nav
	{
	left:0;
	right:auto;
	}
.yui-navset .yui-navset-right .yui-nav,.yui-navset-right .yui-nav
	{
	right:0;
	left:auto;
	}
.yui-skin-sam .yui-navset .yui-nav,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav
	{
	border:solid #006633;
	border-width:0 0 7px;
	Xposition:relative;
	zoom:1;
	}
.yui-skin-sam .yui-navset .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav li
	{
	margin:0 0.16em 0 0;
	padding:1px 0 0;
	zoom:1;
	}
.yui-skin-sam .yui-navset .yui-nav .selected,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected
	{margin:0 0.16em -1px 0;}
.yui-skin-sam .yui-navset .yui-nav a,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a
	{
	background:#f3eee4;
	border:solid #d4cbb4;
	border-width:0 1px;
	color:#000;
	position:relative;
	text-decoration:none;
	}
.yui-skin-sam .yui-navset .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em
	{
	border:solid #d4cbb4;
	border-width:3px 0 0;
	cursor:hand;
	padding:0.25em .75em;
	left:0;
	right:0;
	bottom:0;
	top:-1px;
	position:relative;
	}
.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a:focus,.yui-skin-sam .yui-navset .yui-nav .selected a:hover
	{
	background:#006633;
	color:#fff;
	}
.yui-skin-sam .yui-navset .yui-nav a:hover,.yui-skin-sam .yui-navset .yui-nav a:focus
	{
	background:#d4cbb4;
	outline:0;
	}
.yui-skin-sam .yui-navset .yui-nav .selected a em
	{padding:0.35em 0.75em;}
.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a em
	{border-color:#006633;}
.yui-skin-sam .yui-navset .yui-content
	{background:#ffffff;}
.yui-skin-sam .yui-navset .yui-content,.yui-skin-sam .yui-navset .yui-navset-top .yui-content
	{
	border:1px solid #ccc;
	border-top-color:#006633;
	padding:0.25em 0.5em;
	}
.yui-skin-sam .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav
	{
	border-width:0 5px 0 0;
	Xposition:absolute;
	top:0;
	bottom:0;
	}
.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav
	{border-width:0 0 0 5px;}
.yui-skin-sam .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset-right .yui-nav li
	{
	margin:0 0 0.16em;
	padding:0 0 0 1px;
	}
.yui-skin-sam .yui-navset-right .yui-nav li
	{padding:0 1px 0 0;}
.yui-skin-sam .yui-navset-left .yui-nav .selected,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav .selected
	{margin:0 -1px 0.16em 0;}
.yui-skin-sam .yui-navset-right .yui-nav .selected
	{margin:0 0 0.16em -1px;}
.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav a
	{border-width:1px 0;}
.yui-skin-sam .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset-right .yui-nav a em
	{
	border-width:0 0 0 1px;
	padding:0.2em .75em;
	top:auto;
	left:-1px;
	}
.yui-skin-sam .yui-navset-right .yui-nav a em
	{
	border-width:0 1px 0 0;
	left:auto;
	right:-1px;
	}
.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-left .yui-nav .selected a,.yui-skin-sam .yui-navset-left .yui-nav a:hover,.yui-skin-sam .yui-navset-right .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav .selected a,.yui-skin-sam .yui-navset-right .yui-nav a:hover,.yui-skin-sam .yui-navset-bottom .yui-nav a,.yui-skin-sam .yui-navset-bottom .yui-nav .selected a,.yui-skin-sam .yui-navset-bottom .yui-nav a:hover
	{background-image:none;}
.yui-skin-sam .yui-navset-left .yui-content
	{
	border:1px solid #808080;
	border-left-color:#243356;
	}
.yui-skin-sam .yui-navset-bottom .yui-nav,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav
	{border-width:5px 0 0;}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav .selected,.yui-skin-sam .yui-navset-bottom .yui-nav .selected
	{margin:-1px 0.16em 0 0;}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li,.yui-skin-sam .yui-navset-bottom .yui-nav li
	{
	padding:0 0 1px 0;
	vertical-align:top;
	}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li a,.yui-skin-sam .yui-navset-bottom .yui-nav li a
	{}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav a em,.yui-skin-sam .yui-navset-bottom .yui-nav a em
	{
	border-width:0 0 1px;
	top:auto;
	bottom:-1px;
	}
.yui-skin-sam .yui-navset-bottom .yui-content,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-content
	{
	border:1px solid #808080;
	border-bottom-color:#243356;
	}
