body {
  font-family: helvetica, arial, sans-serif; }
  body a {
    color: #c00;
    text-decoration: none; }
    body a:hover {
      color: #c00;
      text-decoration: underline; }

body, p, ol, ul {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none; }

.areas {
  font-size: 11px;
  font-weight: normal;
  color: #9c9;
  padding: 5px 0px 5px 0px;
  letter-spacing: 1px; }
  .areas a {
    color: #fff;
    text-decoration: none; }
    .areas a:hover {
      color: #fff;
      text-decoration: underline; }

#patient-header {
  font-size: 16px;
  color: white;
  display: inline-block;
  position: relative;
  bottom: 7px;
  margin-right: 5px;
}

.user {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase; }

.areas_title {
  font-size: 12px;
  font-weight: light;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 0px 0px 5px; }

.action1 {
  padding: 7px 0px 0px 0px; }

.action2 {
  padding: 5px 10px 0px 0px; }

.name {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  color: #333;
  letter-spacing: 0px;
  padding: 0px 0px 3px 0px; }

.formname {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  font-weight: light;
  color: #333;
  letter-spacing: 0px;
  padding: 3px 0px 3px 0px; }
  .formname a {
    color: #333;
    text-decoration: none; }
    .formname a:hover {
      color: #000;
      text-decoration: underline; }

.formnamesubtext {
  display: inline-block;
  text-transform: uppercase;
  font-family: helvetica, sans-serif;
  font-size: 10px;
  font-weight: light; }

.description {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: light;
  color: #666;
  letter-spacing: 0px;
  padding: 0px 0px 4px 0px; }

.tools {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  font-weight: light;
  color: #222;
  padding: 2px 0px 0px 0px; }
  .tools a {
    color: #c00;
    text-decoration: none;
    font-weight: bold; }
    .tools a:hover {
      color: #000;
      font-weight: bold;
      text-decoration: underline; }

h3 {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: block;
  padding: 0px 0px 0px 0px;
  color: #333; }

h4 {
  font-family: helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  display: block;
  padding: 0px 0px 0px 0px;
  color: #333; }

label {
  font-family: helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  display: block;
  padding: 0px 0px 0px 0px;
  white-space: nowrap;
  color: #333; }

.required {
  background: #FFE0C6;
  border-width: 1px;
  border-style: solid;
  border-color: #FF8C2C; }

.required_if_others {
  background: #FFFFCC;
  border-width: 1px;
  border-style: solid;
  border-color: #CCCCFE; }

.tag {
  display: inline-block;
  padding-left: 2px;
  padding-right: 2px; }

.hidden_by_ancestry {
  display: none; }

.struck-through {
  text-decoration: line-through; }

.inactive {
  text-decoration: line-through; }

.patientname, .title {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  color: #333;
  letter-spacing: 0px;
  padding: 6px 0px 3px 0px; }
  .patientname a,   .title a {
    color: #333;
    text-decoration: none; }
    .patientname a:hover,     .title a:hover {
      color: #000;
      text-decoration: underline; }

.subtitle {
  font-style: italic;
  padding: 0px 0px 2px 0px; }

.cellheading {
  font-weight: bold; }

.celldetail {
  font-style: italic;
  font-size: 0.9em; }

.indented {
  margin-left: 15px; }

.multiline {
  margin-bottom: 15px; }

.multiline:last-child {
  margin-bottom: 0; }

.patientname-inactive {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  font-style: italic;
  color: #ccc;
  letter-spacing: 0px;
  padding: 6px 0px 3px 0px; }
  .patientname-inactive a {
    color: #ccc;
    text-decoration: none; }
    .patientname-inactive a:hover {
      color: #000;
      text-decoration: underline; }

.contactname-inactive {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  font-style: italic;
  color: #ccc;
  letter-spacing: 0px;
  padding: 6px 0px 3px 0px; }

.placename {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  color: #333;
  letter-spacing: 0px;
  padding: 6px 0px 3px 0px; }

.placename-inactive {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  font-weight: light;
  font-style: italic;
  color: #ccc;
  letter-spacing: 0px;
  padding: 6px 0px 3px 0px; }

.foottext {
  font-family: helvetica, sans-serif;
  padding: 0px 0px 0px 0px;
  color: #999;
  font-weight: light; }
  .foottext .top {
    font-size: 13px; }
  .foottext .bottom {
    font-size: 10px;
    color: #999; }
    .foottext .bottom a {
      color: #999;
      font-weight: bold;
      text-decoration: none; }
      .foottext .bottom a:hover {
        color: #333;
        text-decoration: none; }
      .foottext .bottom a:visited {
        color: #999;
        text-decoration: none; }

.deleted {
  text-decoration: line-through; }

.button {
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 3px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  .button:hover {
    background: #ffffff;
    border: 1px solid #2a7ecd;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; }

.message-box {
  color: #000000;
  border: 1px solid #C1DAD7;
  background-color: #eee;
  postion: absolute;
  left: 200px;
  top: 50px;
  z-index: 900;
  margin: 10px 0px 5px 0px;
  padding: 0; }

.system-messages {
  overflow: auto;
  padding: 0em 0.25em 0em 0.50em;
  height: 56px;
  width: 250px;
  white-space: normal; }

.system-message {
  color: #ff0000;
}

.message-tools {
  text-align: right;
  padding: 0 .25em 0 .25em;
  background-color: #C1DAD7; }

.test_name {
  font-weight: bold; }
  .test_name .common_test_name {
    font-weight: normal;
    font-style: italic;
    padding: 0px 0px 0px 5px; }

#save_indicator  {
    display: none;
    color: white;
    position: relative;
    bottom: 7px;
    right: 7px;
}
#save_indicator_img {
    display: none;
}

.search_group input[name=record_number] {
    margin-right:25px;
}
