-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- i = notes.length-1
- until i < 0 
  - note = notes[i]
  - i -= 1
  - next if note.id.nil?
  %table.list
    %tr
      %th.forminformation
        = h(note.user.nil? ? 'unknown' : note.user.best_name)
      %th
    %tr.roll
      %td.forminformation
        %small
          - unless note.note_type.blank?
            %span{ :class => 'note-type' }
              = t(note.note_type)
          = ld(note.created_at, {:format => :notes})
      %td
    %tr
      %td
        = render_note_body note
      %td
