=error_messages_for(:search_form, :header_message => t(:invalid_search_criteria))

%h3=t('before_create', :type => @event_type)
- form_tag @form_target, :method => :post do

  %span.horiz
    = label_tag :last_name, t('last_name')
    = text_field_tag(:last_name, @search_form.last_name)

  %span.horiz
    = label_tag :first_name, t('first_name')
    = text_field_tag(:first_name, @search_form.first_name)

  %span.horiz
    = label_tag :birth_date, t('birth_date')
    = birthdate_select_tag(:birth_date, @search_form.birth_date)

  %span.horiz
    = label_tag :nbs_id, 'NBS Patient ID'
    = text_field_tag(:nbs_id, @search_form.nbs_id)

  %span.horiz
    %label=t "items_per_page"
    - page_options = %w(25 50 75 100).collect {|c| "<option#{c == params[:per_page] ? ' selected="selected" ' : ''}>#{c}</option>"}.join
    =select_tag('per_page', page_options)
  
  %span.horiz
    = label_tag "&nbsp;"
    = submit_tag t('search_normal_case')

  %span.vert
    = label_tag "&nbsp;"
    = labeled_check_box_tag(:use_starts_with_search, t('use_starts_with'))

  %span.vert-break

%br

- if (defined? @people or defined? @results) and User.current_user.is_entitled_to?(:create_event)
  %div
    - form_tag @new_event_form_path, {:id => @new_event_form_id } do
      = hidden_field_tag :first_name, params[:first_name]
      = hidden_field_tag :last_name, params[:last_name]
      = hidden_field_tag :birth_date, params[:birth_date]
      = hidden_field_tag :nbs_id, params[:nbs_id]
      = link_to_function @new_event_form_submit_text, "$('#{@new_event_form_id}').submit()", @new_event_link_html_options
- if defined? @results
  -if @results.empty?
    %b=t('no_results')
  -else


    -if @results.length >= 100 
      %p{'style' => 'color: #C00'} Only first 100 results will be shown


    %p
      =page_entries_info @results, :entry_name => "result"
      =will_paginate @results

    %table.list
      %tr
        %th=t('name')
        %th='NBS Patient ID'
        %th=t('birth_date')
        %th=t('gender')
        %th=t('event_type')
        %th=t('jurisdiction')
        %th=t('created_date')
        %th=t('disease')
        %th=t('cmr_actions')
        %th=t('entity_actions')
      =new_human_event_search_results(@results)

    %p
      =page_entries_info @results, :entry_name => "result"
      =will_paginate @results


    - if (defined? @people or defined? @results) and User.current_user.is_entitled_to?(:create_event)
      %div
        - form_tag @new_event_form_path, {:id => @new_event_form_id } do
          = hidden_field_tag :first_name, params[:first_name]
          = hidden_field_tag :last_name, params[:last_name]
          = hidden_field_tag :birth_date, params[:birth_date]
          = hidden_field_tag :nbs_id, params[:nbs_id]
          = link_to_function @new_event_form_submit_text, "$('#{@new_event_form_id}').submit()", @new_event_link_html_options
