-# Copyright (C) 2007, 2008, 2009, 2010, 2011 The Collaborative Software Foundation
-#
-# This file is part of TriSano.
-#
-# TriSano is free software: you can redistribute it and/or modify it under the terms of the
-# GNU Affero General Public License as published by the Free Software Foundation, either
-# version 3 of the License, or (at your option) any later version.
-#
-# TriSano is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
-# without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
-# See the GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License along with TriSano.
-# If not, see http://www.gnu.org/licenses/agpl-3.0.txt.

- content_for :title do
  =t 'event_search'

- form_tag(search_events_path, :method => :post) do

  - if !flash[:error].blank?
    %span{ :style => "color:red" }= flash[:error]
  - unless @jurisdictions.nil?

    %div.search_group.clearfix
      = link_to_function t('show_hide_name_criteria'), "Effect.toggle('name_criteria', 'blind', { duration: 0 })"
      %div#name_criteria{:style => "margin-top: 5px"}
        =name_criteria_fields(params).join
        %span.horiz
          %label=t "items_per_page"
          - page_options = %w(25 50 75 100).collect {|c| "<option#{c == params[:per_page] ? ' selected="selected" ' : ''}>#{c}</option>"}.join
          =select_tag('per_page', page_options)

    %div.search_group.clearfix
      = link_to_function t('show_hide_other_criteria'), "Effect.toggle('all_other_criteria', 'blind', { duration: 0 })"
      %div#all_other_criteria{:style => "margin-top: 5px; display: none"}

        %div.search_group.clearfix
          = link_to_function t("show_hide_demographic_criteria"), "Effect.toggle('demographic_criteria', 'blind', { duration: 0 })"

          %div#demographic_criteria{:style => "margin-top: 5px"}
            =demographic_criteria_fields(params, @counties, @genders).join

        %div.search_group.clearfix
          = link_to_function t("show_hide_clinical_criteria"), "Effect.toggle('clinical_criteria', 'blind', { duration: 0 })"

          %div#clinical_criteria{:style => "margin-top: 5px"}
            =clinical_criteria_fields(params, @diseases).join

        %div.search_group.clearfix
          = link_to_function t("show_hide_event_criteria"), "Effect.toggle('event_criteria', 'blind', { duration: 0 })"

          %div#event_criteria{:style => "margin-top: 5px"}
            =event_criteria_fields(params, @workflow_states, @event_types, @jurisdictions, @investigators).join

        %div.search_group.clearfix
          = link_to_function t("show_hide_epi_and_reporting_criteria"), "Effect.toggle('epi_reporting_criteria', 'blind', { duration: 0 } )"

          %div#epi_reporting_criteria{:style => "margin-top: 5px"}
            =epi_criteria_fields(params).join

    %input{ :value => t('submit_query'), :type => "submit", :id => 'submit_query', :style => "float: right" }
= button_to(t("start_over"), search_events_path, :method => :get, :confirm => "Clear all search criteria and results?", :style => "float: right")
%br

- if !@events.blank?

  - if @events.total_entries < max_search_results
    = render :partial => "events/export_options", :locals => { :path => events_format_path(params.merge(:format => 'csv')) }
  - else
    = render :partial => "refine_search"

  %br
  %p
    =page_entries_info @events, :entry_name => "result"
    =will_paginate @events
  
  %table{:style => "table-layout: fixed", :id => 'search_results' }
    %tr{:style => "text-align: left"}
      %th
        =t 'record_number'
      %th
        = 'NBS Event ID'
      %th
        =t 'name'
      %th
        = 'NBS Patient ID'
      %th
        =t('age')+ "/" + t('birth_date')
      %th
        =t 'gender'
      %th
        =t 'disease'
      %th
        =t 'city'
      %th
        =t 'county'
      %th
        =t 'jurisdiction'
      %th
        =t 'onset_date'
      %th
        =t(params['accession_no'].blank? ? 'collection_date' : 'accession_no')
      - for event in @events
        %tr{:class => search_result_class(event)}
          %td
            =link_to_search_result_event("#{h(event.record_number)}", event)
            %small=t(event.type.underscore, :scope => :event_search_results)
          %td
            = h(event['event_nbs_id'])
          %td
            = search_result_full_name(event)
          %td
            = h(event['nbs_id'])
          %td
            - if  event['birth_date'].blank?
              = h(event['approximate_age_no_birthday'])
            - else
              = h("#{calculate_age event['birth_date'].to_date} / #{ld(event['birth_date'])}")
          %td
            = h(event['birth_gender'])
          %td
            = h(event['disease_name'])
          %td
            = h(event['city'])
          %td
            = h(event['county'])
          %td
            = h(i18n_jurisdiction_short_name(event['jurisdiction']))
          %td
            = ld(event['onset_date'])
          %td
            - if(params['accession_no'].blank?)
              = ld(event['collection_date'])
            - else
              = h(event['accession_no'])

  %br
  %p
    =page_entries_info @events, :entry_name => "result"
    =will_paginate @events
  
  =render_extensions :search_extensions

- params.delete('action')
- params.delete('controller')
- if @events.blank? && flash[:error].blank? && !params.values_blank?

  %span
    =t 'no_search_results'

  %br
  %br
